Debug
MixHit/Debug
.vs/MixHit/v15/.suo
.vs/MixHit/v15/.suo
MixHit/__vm/Compile.vmps.xml
MixHit/__vm/Configuration.Debug.vmps.xml
MixHit/__vm/Upload.vmps.xml
.vs/MixHit/v15/.suo
.vs/MixHit/v15/.suo
.vs/slnx.sqlite
MixHit/__vm/.MixHit.vsarduino.h
MixHit/__vm/Compile.vmps.xml
MixHit/__vm/Configuration.Debug.vmps.xml
MixHit/__vm/Upload.vmps.xml
MixHit/MixHit.vcxproj
.vs/MixHit/v15/.suo
MixHit/__vm/Compile.vmps.xml
MixHit/__vm/Configuration.Debug.vmps.xml
MixHit/__vm/Upload.vmps.xml
